body{
    margin: 0;
    background-image: url(img/45054.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(48, 48, 48);
 

}
#background{
}


#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5vh 5vw 5vh 5vw;
    height: 90vh;
    width: 100%;
    max-width: 1200px;
}

#logo{
    width:25%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;
    font-size: 8vw;
    font-family: 'Kosugi Maru', sans-serif;
    
}

h1{
    font-size: 1em;
}

#title{
    width:75%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}

.shoji{
    background-color: rgba(255, 255, 255,0.95);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.main{
    height: 60%;

}

.secondary{
    height: 15%;
    display: flex;
    flex-direction: row;
    
}

.secondary div{
    width:50%;
    display:flex;
    flex-direction: row;
}

#information{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

#information div{
    height: 50%;
    width: 90%;
    padding-left: 10%;
    display: flex;
    
    
}

.buttons{
    width:50%;
}

button{
    width:100%;
}

a{
    text-decoration: none;
}


i{
    font-size: 3em;
   
}

#japanese{
    writing-mode: vertical-rl;
    height: 61.8%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4vh;
}


#english{
    display: flex;
    justify-content:top;
    align-content:center;
    flex-direction:column;
    text-align: center;
    font-size: 3.5vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top:-10%;
}



hr{
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-top: 0px;
    visibility: hidden;
    
}

#author{
    font-weight: 900;
    font-size: 4vw;

    
}



#reference{
    font-size: 3vw;
    
}


a{
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;
    font-size: 2vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:black;
}

@media screen and (min-width: 600px) {

    .main{
        display:flex;
    }

    .shoji{
        border-radius: 20px;
    }

    #logo{
        font-size: 3.5em;
    }

    #title{
        font-size: 2vw;
    }

    #english, #japanese{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
        text-align: center;
    }

    #japanese{
        font-size: 6vh;
    }

    #english{
        font-size: 4vh;
        margin-top:0%;
    }

    #author{
        font-size: 3vh;
    }

    #reference{
        font-size: 2.5vh;
    }

    hr{
    visibility: visible;
    }
}